body {
    background-color: rgb(250, 300, 300)
}

.header {
    text-align: center
}

.filter {
    width: 25%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto; 
    
}

.bar {
    /* padding: 50px; */
    top: 50%;
    right: 50%;
    left: 10%;
}