
.root {
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 25px 25px; 
}

.media {
  height: 35%;
  width: 50%;
  margin-left: 25%;
}

.generic {
  padding-top: 75.75%;

}

.desc {
  text-align: center;
}

.name {
  font-weight: bold;
}
